/* $v-app-loading-text: "Loading Valo Demo App..."; */
/* $v-background-color: black; */
/* $v-focus-color: orange; */
/* $v-selection-color: orange; */
/* $v-font-size: 18px; */
/* $v-font-weight: 600; */
/* $v-font-family: "Lato", sans-serif; */
/* $v-unit-size: 50px; */
/* $v-bevel-style: none; */
/* $v-gradient-style: none; */
/* $v-border-radius: 0px; */
/* $v-border-width: 2px; */
/* $v-textfield-bevel-style: inset 0 -2px 0 #fff; */
/* $v-button-background-color: #fff; */
/* $v-overlay-shadow-style: 0 0 0 2px #fff; */

@import "../valo/valo";


.valo-demo {
  @include valo;
  @include valo-component-group;

  .topbar {

    //$v-app-background-color: valo-selection-color();
    @include valo-menubar;

    .v-menubar {
      @include valo-menubar-menuitem-checked($background-color: valo-selection-color());
    }

    @include valo-panel-caption-style;
    font-size: $v-font-size;
    padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal*2;
    height: auto;
    position: relative;
    z-index: 2;

  }

  @include valo-splitpanel-small($stylename: contacts);

  .contacts {
    //background: #fff;

    .v-splitpanel-first-container {
      .v-textfield {
        @include valo-textfield-borderless-style;
        border-bottom: 1px solid valo-textfield-border-color();
      }

      @include valo-textfield-inline-icon;

      @include valo-table;
      .v-table {
        @include valo-table-no-stripes;
        @include valo-table-no-vertical-lines;
        @include valo-table-no-horizontal-lines;
        @include valo-table-no-header;
        @include valo-table-borderless;
      }
    }

    .v-splitpanel-second-container {
      .v-formlayout.light {
        @include valo-formlayout-light-style;
      }
    }
  }

}
